@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.title {
  @apply mb-9 text-center font-mono text-4xl font-bold;
}

button {
  @apply mt-1 min-h-full min-w-full rounded bg-blue-500 px-4 py-2 text-white;
}

select {
  color: rgb(var(--background-end-rgb));
  @apply mt-1 min-h-full min-w-full rounded border px-4 py-2;
}

.add-button {
  @apply bg-green-500 text-white hover:bg-green-700;
}

.delete-button {
  @apply bg-red-500 text-white hover:bg-red-700;
}

.disabled {
  @apply cursor-not-allowed opacity-50 blur-md;
}
